.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: white;
  border-radius: 30px;
  position: relative;
  width: 100%;
  max-width: 438px;
  padding: 64px;
  z-index: 10000;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.text {
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 40px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modalInput {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding-left: 18px;
  height: 52px;
  color: #191a15;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0;
}

@media (max-width: 480px) {
  .modal {
    padding: 32px;
    border-radius: 20px;
  }

  .title {
    font-size: 28px;
  }
}
