.page {
  padding-top: 64px;
  padding-bottom: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1184px;
}

.loadMoreBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.loadMoreButton {
  width: 176px;
}
